alabaster==0.7.12
arcade==2.3.8
attrs==19.3.0
Babel==2.8.0
bleach==3.1.1
certifi==2019.11.28
chardet==3.0.4
docutils==0.16
easing-functions==1.0.3
future==0.18.2
idna==2.8
imagesize==1.2.0
importlib-metadata==1.5.0
Jinja2==2.11.1
keyring==21.1.0
MarkupSafe==1.1.1
numpy==1.17.4
packaging==20.1
Pillow==6.2.1
pkginfo==1.5.0.1
pyglet==1.4.8
pyglet-ffmpeg2==0.1.15
Pygments==2.5.2
pyparsing==2.4.6
pytiled-parser==0.9.0
pytz==2019.3
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.14.0
snowballstemmer==2.0.0
tqdm==4.42.1
urllib3==1.25.8
webencodings==0.5.1
zipp==2.2.0
